@{
    ViewData["Title"] = "Properties";
}
<div class="row">
  <div class="d-flex justify-content-between align-items-center">
    <h1 class="font-monospace text-2xl">Properties</h1>
    <a asp-action="Create" class="btn btn-outline-primary">Create</a>
  </div>
  <hr class="my-3 " />
  @await Component.InvokeAsync("PropertyList")
</div>