@using RSApp.Core.Services.Dtos.Account
@using Microsoft.AspNetCore.Http;
@using RSApp.Core.Services.Helpers;
@inject IHttpContextAccessor _httpContext;
@model AccountDto
@{
  ViewData["Title"] = "Users";
  AuthenticationResponse user = _httpContext.HttpContext.Session.Get<AuthenticationResponse>("user");
}

<div class="row">
  <div class="d-flex justify-content-between align-items-center">
    <h1 class="font-monospace text-2xl">Welcome @user.UserName</h1>
    <a asp-action="Create" class="btn btn-outline-primary">Create</a>
  </div>
  <hr class="my-3 " />
  @await Component.InvokeAsync("UserList")
</div>