@model RSApp.Core.Services.ViewModels.User.ForgotPasswordVm
@{
  ViewData["Title"] = "Forgot Password";
}

<div class="row">
  <div class="col-md-4 mx-auto">
    <h2 class="text-2xl font-medium">Forgot Password</h2>
    <hr class="my-3" />
    @if (Model.HasError)
    {
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <p>@Model.Error</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    }
    <form asp-controller="User" asp-action="ForgotPassword">
      <div class="form-group mb-3">
        <label asp-for="Email" class="text-lg">Email: </label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
      </div>
      <div>
        <div class="btn-group mb-3 col-12">
          <a asp-action="Index" asp-controller="Home" class="btn btn-outline-primary w-full">Back</a>
          <input type="submit" class="btn w-25 btn-outline-success w-100" value="Submit" />
        </div>
      </div>
    </form>
  </div>
